<main id="main" class="site-main" role="main">

<article id="post-620" class="post-620 page type-page status-publish hentry">
<header class="entry-header">
<h1 class="entry-title">Awards of students</h1>
</header><!-- .entry-header -->

<div class="entry-content">
<p>&nbsp;</p>
<ol>
<li><strong><span style="color: #3366ff">김준홍,</span> </strong>Korea University Graduate Student Achievement Award<span style="color: #000000"><br>
[고려대학교, 2018.02]</span></li>
<li><span style="color: #3366ff"><strong>이정훈, 안정선, </strong><span style="color: #000000">2017 빅콘테스트 (퓨처스리그) 한국정보통신 진흥협회장상<br>
[한국정보화진흥원, 2017.11]</span></span></li>
<li><span style="color: #3366ff"><strong>서덕성</strong><span style="color: #000000">, 김상진, 이경택, 2017 빅콘테스트 (챌린지리그) 한국정보통신 진흥협회장상<br>
[한국정보화진흥원, 2017.11]</span></span></li>
<li><span style="color: #3366ff"><strong>김준홍, 박재선, </strong><span style="color: #000000">2017 삼성화재 Machine Learning Challenge (실제 도로 표지판을 이용한 한글 OCR 알고리즘 개발) 2위<br>
[삼성화재, 2017.11]</span></span></li>
<li><span style="color: #3366ff"><strong>김보섭, 박민식, 조수현</strong><span style="color: #000000">, 2016 산업 융합 활성화 방안 및 사례연구 논문공모전 우수상<br>
[대한산업공학회, 2016. 11]</span></span></li>
<li><span style="color: #3366ff"><strong>김준홍, 김해동, 서덕성</strong><span style="color: #000000">, 2016 빅스타 선발대회 우수상<br>
[경기콘텐츠진흥원, 2016. 10]</span></span></li>
<li><span style="color: #3366ff"><b>서덕성</b></span>, 김상진, 이경택,&nbsp;2016 날씨 빅데이터 콘테스트 한국기상산업진흥원장상<br>
[기상청, 2016. 09]</li>
<li><span style="color: #3366ff"><b>서덕성</b></span>, 김상진, 김현경, 제 2회 L.POINT Big Data Competition 특별상<br>
[롯데멤버스, 2016. 03]</li>
<li><span style="color: #3366ff"><strong>김준홍</strong></span>, 3.1 문화재단 박사 장학생 선정<br>
[3.1 문화재단, 2016. 03]</li>
<li><span style="color: #3366ff"><strong>김준홍</strong></span>, <span style="color: #3366ff"><strong>김형석</strong></span>, 제 1회 개방형 문제 해결 플랫폼(Yes24 도서 추천 알고리즘 개발) 2위<br>
[미래창조과학부, 한국정보화진흥원, Yes24, 2015. 12]</li>
<li><span style="color: #3366ff"><strong>서덕성</strong></span>, 김상진, 문상준, 최수경, 제 3회 관광 빅데이터 분석대회 동상<br>
[한국문화관광부, 2015. 08]</li>
<li><span style="color: #3366ff"><strong>김보섭</strong></span>, <span style="color: #3366ff"><strong>박재선</strong></span>, 김상진, 제 1회 BigData Analytics Festival 장려상<br>
[SK 텔레콤, 데이타솔루션, 2015. 04]</li>
<li><span style="color: #3366ff"><strong>김준홍</strong></span>, 민혜종, 송성민, 제 1회 데이터톤 우수상<br>
[미래창조과학부, 서울대학교 빅데이터 센터, 2014. 11]</li>
<li><span style="color: #3366ff"><strong>서동민</strong></span>, 이강혁, 이재후, 제 1회 데이터톤 대상<br>
[미래창조과학부, 서울대학교 빅데이터 센터, 2014. 11]</li>
<li><span style="color: #3366ff"><strong>김준홍</strong></span>, 민혜종, 송성민, 제 12회 SAS Mining Championship (공공데이터를 활용한 요양기관(의원, 약국대상) 신규개원 예측) 은상 [SAS KOREA, 2014. 09]</li>
</ol>
</div><!-- .entry-content -->
</article><!-- #post-## -->



</main>
