<!-- Profile Content -->
<div *ngIf="member_type" class="profile-body margin-bottom-20">

  <!--Profile Blog-->
  <div class="panel-heading overflow-h margin-bottom-20">
    <h2 class="panel-title heading-sm pull-left">{{member_type}}</h2>
  </div>

  <div *ngFor="let pair of member_pairs"
    class="row margin-bottom-20">
    <div *ngFor="let one of pair"
      class="col-sm-6 sm-margin-bottom-20">
      <div class="profile-blog">
        <img src="{{ one.img }}" alt="">
        <div class="name-location">
          <strong>{{ one.name_ko }} ({{ one.name_en }})</strong>
          <span>{{ one.status1 }}</span>
          <span *ngIf="one.status2">({{ one.status2 }}학기)</span><br>
          <span *ngIf="one.mail">
            <a href="mailto:{{ one.mail }}">{{ one.mail }}</a>
            <a *ngIf="one.CV"
              href="{{ one.CV }}" target="_blank"> / Curriculum Viate</a>
          </span>
        </div>
        <div class="clearfix margin-bottom-20"></div>
        <p><strong>Research Areas:</strong> {{ one.research_areas }}</p>
        <hr>
        <ul class="list-inline share-list">
          <li *ngIf="one.MS">
            <span><strong>BS:</strong> {{ one.BS }}</span>
          </li>
          <li *ngIf="one.MS">
            <span><strong>MS:</strong> {{ one.MS }}</span>
          </li>
          <li *ngIf="one.career">
            <span><strong>Career:</strong> {{ one.career }}</span>
          </li>
          <li *ngIf="one.admission">
            <span><strong>Admission:</strong> {{ one.admission }} ~ Current</span>
          </li>
        </ul>
      </div>
    </div>
  </div><!--/end row-->
  <!--End Profile Blog-->

</div>
<!-- End Profile Content -->
