<!--=== Profile ===-->
<div class="container content profile">
  <div class="row">
    <!--Left Sidebar-->
    <div class="col-md-3 md-margin-bottom-40">

      <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
        <li class="list-group-item">
          <a routerLink="/member/overall">Overall</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/member/professor">Professor</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/member/students">Students</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/member/alumni">Alumni</a>
        </li>
      </ul>

    </div>
    <!--End Left Sidebar-->

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--=== End Profile ===-->
