#dsba-intro-buttons {
  a {
    margin: 10px;
    &:nth-child(3) {
      background: #482525;
    }
    &:nth-child(4) {
      background: #605B5B;
    }
  }
}

#da-slider {
  background: #482525;
  .da-slide{
    p {
      z-index: 10;
    }
    .da-img {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      line-height: unset;
      padding: 0 calc(25% - 250px) 0 calc(25% - 150px);
      div{
        width: 180px;
        height: auto;
        margin: 10px 10px;
        img {
          width: 100%;
        }
        a {
          img {
            position: absolute;
            width: 50px;
            height: auto;
            transform: translate(-115px, 50px);
          }
        }
      }
    }
  }
}


@media (max-width: 991px) {
  #da-slider {
    .da-img {
      a {
        display: none;
      }
    }
  }
}
