#uploader-dashboard {
  text-align: center;
  .uploader-btn {
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    background: black;
    font-size: 30px;
    color: white;
    display: inline-block;
  }
}
