<div class="wrapper">
  <!--=== Header ===-->
  <div class="header">
    <div class="container">
      <!-- Logo -->
      <a class="logo" routerLink="/main">
        <img height=40 src="assets/img/custom/ku_logo.png" alt="Logo">
        <img height=40 src="assets/img/custom/dsba_logo.png" alt="Logo">
      </a>
      <!-- End Logo -->

      <!-- Toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
      <div class="container">
        <ul class="nav navbar-nav">

          <li class="dropdown" data-category="members">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              MEMBERS
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/members/overall">Overall</a></li>
              <li><a routerLink="/members/professor">Professor</a></li>
              <li><a routerLink="/members/students">Students</a></li>
              <li><a routerLink="/members/alumni">Alumni</a></li>
            </ul>
          </li>

          <li data-category="researches">
            <a routerLink="/researches">
              RESEARCHES
            </a>
          </li>

          <li class="dropdown" data-category="publications">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              PUBLICATIONS
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/publications/international-journal">International Journal</a></li>
              <li><a routerLink="/publications/domestic-journal">Domestic Journal</a></li>
              <li><a routerLink="/publications/international-conference">International Conference</a></li>
              <li><a routerLink="/publications/domestic-conference">Domestic Conference</a></li>
            </ul>
          </li>

          <li data-category="projects">
            <a routerLink="/projects">
              PROJECTS
            </a>
          </li>

          <li class="dropdown"
          data-category="activities">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              ACTIVITIES
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink='/news'>News</a></li>
              <li><a>Photos</a></li>
              <li><a>Seminar</a></li>
              <li><a>Youtube</a></li>
              <li><a>Archive</a></li>
              <li><a><i class="rounded-x icon-eye"></i> LINKS</a></li>
            </ul>
          </li>

        </ul>
      </div><!--/end container-->
    </div><!--/navbar-collapse-->
  </div>
  <!--=== End Header ===-->
  <div id='dsba-back-header'></div>

  <router-outlet></router-outlet>

  <!--=== Footer Version 1 ===-->
  <div class="footer-v1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- About -->
          <div class="col-md-3 md-margin-bottom-40">
            <a routerLink=""><img id="logo-footer" class="footer-logo" src="assets/img/custom/dsba_logo.png" height=40></a>
            <p>Data Science & Business Analytics Lab</p>
            <p>School of Industrial Management Engineering</p>
            <p>College of Engineering, Korea University</p>
          </div><!--/col-md-3-->
          <!-- End About -->

          <!-- Latest -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="posts">
              <div class="headline"><h2>Latest Posts</h2></div>
              <ul class="list-unstyled latest-list">
                <li>
                  <a href="#">Incredible content</a>
                  <small>May 8, 2014</small>
                </li>
                <li>
                  <a href="#">Best shoots</a>
                  <small>June 23, 2014</small>
                </li>
                <li>
                  <a href="#">New Terms and Conditions</a>
                  <small>September 15, 2014</small>
                </li>
              </ul>
            </div>
          </div><!--/col-md-3-->
          <!-- End Latest -->

          <!-- Link List -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="headline"><h2>Useful Links</h2></div>
            <ul class="list-unstyled link-list">
              <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
            </ul>
          </div><!--/col-md-3-->
          <!-- End Link List -->

          <!-- Address -->
          <div class="col-md-3 map-img md-margin-bottom-40">
            <div class="headline"><h2>Contact Us</h2></div>
            <address class="md-margin-bottom-40">
              대한민국 서울특별시 성북구 안암로 145 <br />
              고려대학교 신공학관 220호 <br />
              Tel: +82-(0)2-3290-3775 <br />
              Email: <a href="mailto:dsba@korea.ac.kr" class="">pilsung_kang@korea.ac.kr</a>
            </address>
          </div><!--/col-md-3-->
          <!-- End Address -->
        </div>
      </div>
    </div><!--/footer-->

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              2018 &copy; Data Science & Business Analytics Lab.
            </p>
          </div>
        </div>
      </div>
    </div><!--/copyright-->
  </div>
  <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<div id="loading-ui"></div>
