<div class="wrapper">
  <!--=== Header ===-->
  <div class="header">
    <div class="container">
      <!-- Logo -->
      <a class="logo" routerLink="/main">
        <img height=40 src="assets/img/custom/ku_logo.png" alt="Logo">
        <img height=40 src="assets/img/custom/dsba_logo.png" alt="Logo">
      </a>
      <!-- End Logo -->

      <!-- Topbar -->
      <div class="topbar">
        <ul class="loginbar pull-right">
          <li><a href="page_login.html">Login</a></li>
        </ul>
      </div>
      <!-- End Topbar -->

      <!-- Toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
      <div class="container">
        <ul class="nav navbar-nav">

          <!-- Home -->
          <li class="dropdown active">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              MEMBER
            </a>
            <ul class="dropdown-menu">
              <!-- Blog Template -->
              <li><a routerLink="/member/professor">Professor</a></li>
              <li><a routerLink="/member/students">Students</a></li>
              <li><a routerLink="/member/alumni">Alumni</a></li>
            </ul>
          </li>
          <!-- End Home -->

          <!-- Pages -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              RESEARCH
            </a>
            <ul class="dropdown-menu">
              <!-- About Pages -->
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Publications</a>
                <ul class="dropdown-menu">
                  <li><a href="page_about2.html">International Journal</a></li>
                  <li><a href="page_about2.html">Domestic Journal</a></li>
                  <li><a href="page_about2.html">International Conference <br> Proceedings/Presentations</a></li>
                  <li><a href="page_about2.html">Domestic Conference <br> Proceedings/Presentations</a></li>
                </ul>
              </li>
              <!-- End About Pages -->
              <li><a routerLink="/research">Research</a></li>
            </ul>
          </li>
          <!-- End Pages -->

          <li>
            <a>
              PROJECT
            </a>
          </li>
          <li>
            <a>
              COURSE
            </a>
          </li>
          <li>
            <a>
              ACTIVITY
            </a>
          </li>

          <!-- Search Block -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/end container-->
    </div><!--/navbar-collapse-->
  </div>
  <!--=== End Header ===-->

  <router-outlet></router-outlet>

  <!--=== Footer Version 1 ===-->
  <div class="footer-v1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- About -->
          <div class="col-md-3 md-margin-bottom-40">
            <a routerLink=""><img id="logo-footer" class="footer-logo" src="assets/img/custom/dsba_logo.png" height=40></a>
            <p>Data Science & Business Analytics Lab</p>
            <p>School of Industrial Management Engineering</p>
            <p>College of Engineering, Korea University</p>
          </div><!--/col-md-3-->
          <!-- End About -->

          <!-- Latest -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="posts">
              <div class="headline"><h2>Latest Posts</h2></div>
              <ul class="list-unstyled latest-list">
                <li>
                  <a href="#">Incredible content</a>
                  <small>May 8, 2014</small>
                </li>
                <li>
                  <a href="#">Best shoots</a>
                  <small>June 23, 2014</small>
                </li>
                <li>
                  <a href="#">New Terms and Conditions</a>
                  <small>September 15, 2014</small>
                </li>
              </ul>
            </div>
          </div><!--/col-md-3-->
          <!-- End Latest -->

          <!-- Link List -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="headline"><h2>Useful Links</h2></div>
            <ul class="list-unstyled link-list">
              <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
            </ul>
          </div><!--/col-md-3-->
          <!-- End Link List -->

          <!-- Address -->
          <div class="col-md-3 map-img md-margin-bottom-40">
            <div class="headline"><h2>Contact Us</h2></div>
            <address class="md-margin-bottom-40">
              대한민국 서울특별시 성북구 안암로 145 <br />
              고려대학교 신공학관 220호 <br />
              Tel: +82-(0)2-3290-3775 <br />
              Email: <a href="mailto:dsba@korea.ac.kr" class="">pilsung_kang@korea.ac.kr</a>
            </address>
          </div><!--/col-md-3-->
          <!-- End Address -->
        </div>
      </div>
    </div><!--/footer-->

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              2018 &copy; Data Science & Business Analytics Lab.
            </p>
          </div>
        </div>
      </div>
    </div><!--/copyright-->
  </div>
  <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<div id="loading-ui"></div>
