<div class="breadcrumbs-v1">
  <div class="container">
    <span>DSBA</span>
    <h1>BOARD</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <!-- post-board start -->
    <div class="col-md-9" id='daba-board'>

      <!-- post-box start -->
      <div class='row'
      *ngIf='post'>
        <ul class="pager pager-v3 pager-sm no-margin-bottom">
          <li class="previous">
            <a (click)='turn_post(+1)'>← Newer</a>
          </li>
          <li class="page-amount">{{ post.id+1 }} / {{ posts.length }}</li>
          <li class="next">
            <a (click)='turn_post(-1)'>Older →</a>
          </li>
        </ul>
        <div id='daba-post-box'>
          <div class="blog margin-bottom-40">
            <a (click)='reset_post()'>
              <div id='dsba-back-btn'><span>←</span></div>
            </a>
            <h2>{{ post.title }}</h2>
            <div class="blog-post-tags">
              <ul class="list-unstyled list-inline blog-info">
                <li>
                  <i class="fa fa-calendar"></i>
                  {{ beautify_date(post.date) }}
                </li>
                <li><i class="fa fa-pencil"></i> {{ post.writer }}</li>
                <li>
                  <i class="fa fa-comments"></i>
                  <a href="#"> 0 Comments</a>
                </li>
                <li><i class="fa fa-tags"></i> {{ post.category }}</li>
              </ul>
            </div>
            <p [innerHTML]='post.content'></p>
          </div>
        </div>
      </div>
      <!-- post-box end -->

      <!-- post-list start -->
      <div class="row">
        <ul class="pager pager-v3 pager-sm no-margin-bottom"
        *ngIf='!post'>
          <li class="previous">
            <a (click)='turn_page(-1)'>← Newer</a>
          </li>
          <li class="page-amount">{{ page }} of {{ page_length }}</li>
          <li class="next">
            <a (click)='turn_page(+1)'>Older →</a>
          </li>
        </ul>
        <br>
        <div *ngFor='let post of post_group'>
          <div class="row"
          *ngIf='!is_image(post.images)'>
            <div class="col-sm-10 news-v3">
              <div class="news-v3-in-sm no-padding">
                <ul class="list-inline posted-info">
                  <li>{{ post.writer }}</li>
                  <li>In {{ post.category }}</li>
                  <li>{{ beautify_date(post.date) }}</li>
                </ul>
                <h2><a (click)='show_post(post.id)'>{{ post.title }}</a></h2>
                <p [innerHTML]='trim_html(post.content)'></p>
                <ul class="post-shares">
                  <li>
                    <i class="rounded-x icon-eye"></i>
                    <span>{{ post.view_count }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row"
          *ngIf='is_image(post.images)'>
            <div class="col-sm-7 news-v3">
              <div class="news-v3-in-sm no-padding">
                <ul class="list-inline posted-info">
                  <li>{{ post.writer }}</li>
                  <li>In {{ post.category }}</li>
                  <li>{{ beautify_date(post.date) }}</li>
                </ul>
                <h2><a (click)='show_post(post.id)'>{{ post.title }}</a></h2>
                <p [innerHTML]='trim_html(post.content)'></p>
                <ul class="post-shares">
                  <li>
                    <i class="rounded-x icon-eye"></i>
                    <span>{{ post.view_count }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 sm-margin-bottom-20">
              <div class="responsive-video">
                <img src="http://dsba.korea.ac.kr/wp{{ post.images[0] }}">
              </div>
            </div>
          </div>
          <div class="clearfix"><hr></div>
        </div>
        <ul class="pager pager-v3 pager-sm no-margin-bottom">
          <li class="previous">
            <a (click)='turn_page(-1)'>← Newer</a>
          </li>
          <li class="page-amount">{{ page }} of {{ page_length }}</li>
          <li class="next">
            <a (click)='turn_page(+1)'>Older →</a>
          </li>
        </ul>
        <br>
      </div>
      <!-- post-list end -->
    </div>
    <!-- post-board end -->

    <!-- right-nav start -->
    <div class="col-md-3">
      <div id='dsba-right-nav' data-nav>
        <div class="headline-v2 bg-color-light"><h2>Latest Posts</h2></div>
        <ul class="list-unstyled blog-latest-posts margin-bottom-50">
          <li *ngFor='let post of latest_posts'>
            <h3><a (click)='show_post(post.id)'>{{ post.title }}</a></h3>
            <small>{{ beautify_date(post.date) }} / <a>{{ post.category }}</a></small>
          </li>
        </ul>
        <div class="headline-v2 bg-color-light"><h2>Categories</h2></div>
        <ul class="list-inline tags-v2 margin-bottom-50">
          <li><a>News</a></li>
          <li><a>Photos</a></li>
          <li><a>Seminar</a></li>
          <li><a>Archive</a></li>
        </ul>
        <div class="headline-v2 bg-color-light"><h2>Photostream</h2></div>
        <ul class="list-inline blog-photostream margin-bottom-50">
          <li *ngFor='let _ of [1,2,3,4,5,6,7,8,9]'>
            <a href="assets/img/main/placeholder.jpg" rel="gallery"
            class="fancybox img-hover-v2" title="Image 1">
              <span>
                <img class="img-responsive"
                src="assets/img/main/placeholder.jpg" alt="">
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- right-nav end -->

  </div>
</div>
