<div class="breadcrumbs-v1">
  <div class="container">
    <span>DABA</span>
    <h1>BOARD</h1>
  </div>
</div>


<div class="container content-md">
  <div class="row">
<!--
    <div class="col-md-9">
      <div class="blog margin-bottom-40">
        <a><div id='dsba-back-btn'><span>←</span></div></a>
        <h2><a href="blog_item_option1.html">2018 대한산업공학회 춘계학술대회</a></h2>
        <div class="blog-post-tags">
          <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> 2018. 04. 16.</li>
            <li><i class="fa fa-pencil"></i> Gyubin Son</li>
            <li><i class="fa fa-comments"></i> <a href="#">0 Comments</a></li>
            <li><i class="fa fa-tags"></i> News</li>
          </ul>
        </div>
        <p>
          2018 대한산업공학회 춘계학술대회 후기
          <br><br>
          이번 학회는 제 첫 학회입니다. 발표를 하거나 논문을 제출하진 않았지만 불과 1년 전만 하더라도 학회에 참가한다는 것을 상상도 못한 저에겐 매우 특별한 시간이었습니다. 관심 분야에 대해 최대한 많이 들어보려 노력했고 학계의 트렌드나 공부하면 좋을 키워드들을 많이 알게 되어 좋았습니다. 저희 연구실 소속 연구원들의 발표가 많아서 각각 속한 세션들에 참가해서 여러 발표들을 들었습니다.
          <br><br>
          먼저 김준홍 박사과정의 "CAM과 Grad-CAM 기반의 불량 웨이퍼 bin map 분류 및 원인 지역 시각화 방법론" 발표를 들었습니다. 딥러닝이 가장 산업과 직접적으로 맞닿아있는 분야라 생각합니다. 기존의 엔지니어가 직접 불량 웨이퍼를 분류하던 방식을 어떻게 자동화하고, 시각화했는지 잘 알 수 있었습니다. 알고리즘이 분류를 잘 하더라도 그것이 "왜 그렇게 분류했는지"를 알아야 현직 엔지니어들에게 설명을 할 수 있는데 그걸 시각화로 잘 해결했습니다. 자연어처리나 음성, 컴퓨터 비전이 활발하게 연구되고 있고, 그런 기반 이론들을 바탕으로 이렇게 산업에 적용되어 실용적으로 좋은 결과를 보이는 것이 의미가 큰 것 같습니다.
          <br><br>
          이후엔 다른 세션장으로 옮겨 Business analytics 분야의 발표를 들었습니다. 연세대학교 이경택님의 "DBSCAN과 ensemble 방법을 이용한 하이브리드 resampling 방법"에 대한 발표였는데요. 클래스 불균형 데이터에서 resampling할 때 minority 클래스만 고려하는데 그 중에서도 DBSCAN을 활용해 노이즈가 아닌 데이터만 resampling 하는 방법입니다. 들으면서 좋은 접근이구나 생각했고, 실제로도 굉장히 많은 실험을 통해 다른 모델과 비교해서 더 나은 성능을 내는 것을 보였습니다. 질문에 대한 대처도 깔끔했고 매우 훌륭한 발표였습니다.
          <br><br>
          이후 서승완 박사과정의 "Distance Decomposition for Variable Importance of Distance-based Novelty Detection"과 "딥러닝 기반의 감성 분석을 위한 비교 연구"를 연달아 들었습니다. 첫 번째 발표는 novelty detection에서 왜 그렇게 분류되었는지 distance decomposition을 통해 score 값으로 설명하는 내용이었고, 두 번째 발표는 감성분석에서 CNN과 RNN 기반 아키텍처들이 각각 어떤 성능을 보이는지 동일한 조건에서 다양한 데이터에 대해 학습한 결과와 해석을 보여주었습니다. 첫 번째는 결과를 설명해내는 새로운 metric을 제시했다는 점에서 매우 인상깊었고, 두 번째는 신입생의 입장에서 수 백번에 달하는 학습 결과를 통해 모델을 비교할 수 있었다는 점에서 큰 그림을 그리는데 큰 도움을 받았습니다.
          <br><br>
          이 외에도 재밌는 발표들을 많이 들었습니다. 장명준 석사과정의 Semantic VAE에선 기존 RNN-AE보다 정성적으로 더 나은 결과를 보이는, 즉 모델이 좀 더 사람같은 해석을 내는 것이 좋았고, 김형석 박사과정의 뉴스기사를 활용한 Knowledge Base 구축은 접근 자체가 매우 흥미로웠고 실제 사회의 하루 하루들을 벡터로 구성해 비슷한 날들을 파악할 수 있다면 할 수 있는 것들이 굉장히 많아질 것 같습니다. 스마트팩토리 분야에선 강화학습을 이용한 공정 개선이나 GAN을 이용한 웨이퍼 분류에 대한 내용들이 많았고 실무진들도 많이 참석해서 열띤 토론을 보였습니다. 고려대학교 강현구 박사과정의 "Semi-supervised learning with end-to-end graph convolution"도 흥미롭게 들었는데요. 모델 설명에 앞서 기존 방식과 이론에 대해 설명해주셔서 신입생인 저에게 매우 좋았고 graph convolution에 대해서 더 자세히 알아봐야겠다는 생각이 들었습니다.
          <br><br>
          위의 학회 관련 내용 이외에도 연구원 전원이 참석해서 같이 숙식하며 시간을 많이 보내서 좋았습니다. 교수님이 근사한 저녁도 사주셔서 다들 굉장히 맛있게 먹었습니다. 역시 맛있는 음식 앞에서는 다들 표정이 더할 나위없이 밝았습니다. 앞으로도 더 함께 좋은 시간들 많이 보내고 학회에서 좋은 자극 받으며 훌륭한 연구를 했으면 좋겠습니다.
          <br><br>
          감사합니다.
        </p>
      </div>
    </div> -->

    <div class="col-md-9 on">

      <ul class="pager pager-v3 pager-sm no-margin-bottom">
        <li class="previous">
          <a
          (click)='turn_page(-1)'>← Newer</a>
        </li>
        <li class="page-amount">{{ page }} of {{ page_length }}</li>
        <li class="next">
          <a
          (click)='turn_page(+1)'>
          Older →</a>
        </li>
      </ul>
      <br><br>
      <div
      *ngFor='let post of posts'>
        <div class="row">
          <div class="col-sm-{{ is_image(post.images)[0] }} news-v3">
            <div class="news-v3-in-sm no-padding">
              <ul class="list-inline posted-info">
                <li>{{ post.writer }}</li>
                <li>In <a href="#">{{ post.category }}</a></li>
                <li>{{ beautify_date(post.date) }}</li>
              </ul>
              <h2><a id='demo-in'>{{ post.title }}</a></h2>
              <p
              [innerHTML]='trim_html(post.content)'></p>
              <ul class="post-shares">
                <li>
                  <a href="#">
                    <i class="rounded-x icon-eye"></i>
                    <span>{{ post.view_count }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-5 sm-margin-bottom-20"
          *ngIf='is_image(post.images)[1]'>
            <div class="responsive-video">
              <img src="http://dsba.korea.ac.kr/wp{{ post.images[0] }}">
            </div>
          </div>

        </div>
        <div class="clearfix"><hr></div>
      </div>

      <ul class="pager pager-v3 pager-sm no-margin-bottom">
        <li class="previous">
          <a
          (click)='turn_page(-1)'>← Newer</a>
        </li>
        <li class="page-amount">{{ page }} of {{ page_length }}</li>
        <li class="next">
          <a
          (click)='turn_page(+1)'>
          Older →</a>
        </li>
      </ul>
      <br><br>

    </div>

    <div class="col-md-3">

      <div id='dsba-right-nav' data-nav>
        <div class="headline-v2 bg-color-light"><h2>Latest Posts</h2></div>
        <!-- Latest Links -->
        <ul class="list-unstyled blog-latest-posts margin-bottom-50">
          <li>
            <h3><a href="#">2018 대한산업공학회 춘계학술대회</a></h3>
            <small>2018. 04. 16. / <a href="#">News</a></small>
          </li>
          <li>
            <h3><a href="#">[DeepNLP]1&2. Introduction & word vector</a></h3>
            <small>2017. 7. 22. / <a href="#">Youtube</a></small>
          </li>
        </ul>
        <!-- End Latest Links -->

        <div class="headline-v2 bg-color-light"><h2>Categories</h2></div>
        <!-- Tags v2 -->
        <ul class="list-inline tags-v2 margin-bottom-50">
          <li><a>News</a></li>
          <li><a>Photos</a></li>
          <li><a>Seminar</a></li>
          <li><a>Youtube</a></li>
          <li><a>Archive</a></li>
        </ul>
        <!-- End Tags v2 -->

        <div class="headline-v2 bg-color-light"><h2>Photostream</h2></div>
        <!-- Photostream -->
        <ul class="list-inline blog-photostream margin-bottom-50">
          <li
          *ngFor='let _ of [1,2,3,4,5,6,7,8,9]'>
            <a href="assets/img/main/placeholder.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 1">
              <span><img class="img-responsive" src="assets/img/main/placeholder.jpg" alt=""></span>
            </a>
          </li>
        </ul>
        <!-- End Photostream -->
      </div>

    </div>
    <!-- End Blog Sidebar -->
  </div>
</div>
