[data-board-toggle] {
  display: none;
  &.on {
    display: block;
  }
}

@media (min-width: 992px) {
  #dsba-right-nav {
    position: fixed;
    max-width: 270px;
    width: 25%;
  }
}
@media (max-width: 991px) {
  #dsba-right-nav {
    display: block;
  }
}

#dsba-back-btn {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 2px solid #395182;
  margin-bottom: 10px;
  span {
    position: absolute;
    font-size: 30px;
    top: -6px;
    left: 20px;
    color: #395182;
  }
}

.container.content-md {
  min-height: 1000px;
}

.news-v3 h2 a:hover {
  color: #482525;
  font-weight: 500;
}

.news-v3 .post-shares li span {
  background-color: #395182;
  min-width: 22px;
  width: inherit;
}

.pager-v3 {
  margin-top: 0px;
}

.pager.pager-v3 li > a {
  &:hover, &:focus {
    background: #395182;
    border-color: #395182;
  }
}

.responsive-video {
  > img {
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    position: absolute;
  }
}
