<!--=== Profile ===-->
<div class="container content profile">
    <div class="row">
      <!--Left Sidebar-->
      <div id="dsba-side-nav" class="col-md-3 md-margin-bottom-40">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
          <li *ngFor='let type of types' class="list-group-item">
            <a routerLink="/members/{{type}}">{{type}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3"></div>
      <!--End Left Sidebar-->

      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!--=== End Profile ===-->
